@model W3KlinikKami.Models.TB_USER

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Daftar Akun Baru</title>
    <link href="~/Content/Index/Daftar-Akun-Baru.css" rel="stylesheet" />
    <script src="~/Scripts/Index/DaftarAkunBaru.js"></script>
    <script src="~/Scripts/Index/Login.js"></script>
    <script src="~/Scripts/jquery-3.6.0.js"></script>
</head>
<body>
    <div class="form-daftar-akun">
        @using (Html.BeginForm("DaftarAkunBaru", "Index", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <h2>
                <u>Daftar Akun Baru</u>
            </h2>

            @* render form "~/Views/Templated/Form/TB_USER.cshtml" *@
            @Html.Partial("~/Views/Templated/Form/TB_USER.cshtml")

            @* Button create *@
            <div class="btnn">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
            <hr />
        }

        @* Kembali ke login *@
        <div class="btnn">
            @Html.ActionLink("Kembali Ke Login", "Login", "Index")
        </div>
    </div>
</body>
</html>