@using W3KlinikKami.Messege

@{ 
    @* Flash Message *@
    Html.RenderPartial("~/Views/Shared/FlashMessage.cshtml");
}

@using (Html.BeginForm("DaftarPasienBaru", "ADM", FormMethod.Post))
{
    <div class="form-item">
        <h3><u>Daftar Pasien Baru</u></h3>
    </div>
    @Html.Partial("~/Views/ADM/Form/DataPasien.cshtml")
}