
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sistem Antrian</title>
    <script src="~/Scripts/Global.js"></script>
    <link href="~/Content/Antrian/Antrian.css" rel="stylesheet" />
</head>
<body>
    <div class="antrian-container">
        <h1><u>Pilih Sistem Antrian</u></h1>
        <div class="antrian-content">
            <button type="button" class="btn-jumbo" onclick="OpenLink('/Antrian/AntrianBerobat')">Antrian Berobat</button>
        </div>
        <div class="antrian-content">
            <button type="button" class="btn-jumbo" onclick="OpenLink('/Antrian/AntrianPengambilanObat')">Antrian Pengambilan Obat</button>
        </div>
    </div>
</body>
</html>
