
@{
    ViewBag.Title = ViewBag.TitlePage ?? "Index";
    Html.RenderPartial("~/Views/Shared/FlashMessage.cshtml");
}

<div class="body-content">
    <div class="submenu-body-content">
        <div id="TanganiPasien" class="btn-submenu width-200px" onclick="clickLinkByDiv('tPasien')">
            <div class="notif-btn-submenu" id="notif" style="visibility: hidden;"></div>
            @Html.ActionLink("Tangani Pasien", "TanganiPasien", "DKR", null, new { id = "tPasien" })
        </div>

        <div id="RiwayatPasien" class="btn-submenu width-200px" onclick="clickLinkByDiv('rPasien')">
            @Html.ActionLink("Riwayat Pasien", "RiwayatPasien", "DKR", null, new { id = "rPasien" })
        </div>
    </div>

    <div class="content-body-content">
        <div class="form-content">
            <input type="hidden" id="menu" value="@ViewBag.Menu" />
            <script type="text/javascript">
                changeClassName(
                    ['TanganiPasien', 'RiwayatPasien'],
                    document.getElementById('menu').value,
                    "btn-submenu width-200px margin-bottom-15px",
                    "btn-submenu-active width-200px margin-bottom-15px"
                );
            </script>

            @*
                Menampilkan page yg berada pada Views :
                1. sesuai dengan 'ViewBag.Menu' yg sudah ditentukan pada controller 'DKRController/TanganiPasien()',
            *@
            @Html.Partial($"~/Views/DKR/_{ViewBag.Menu}.cshtml", ViewData["Data"])
        </div>
    </div>
</div>

@{
    if (ViewBag.Menu != "TanganiPasien")
    {
        @* Audio yg digunakan jika ada antrian baru *@
        <audio id="antrian-baru">
            <source src="~/Audio/EQLDS52-start-button.mp3" type="audio/mpeg" />
        </audio>

        <script type="text/javascript">
            // jumlah data saat ini
            var jmlDataSaatIni;

            // menampilkan notif pada tombol 'Tangani Pasien', memberi jumlah antrian pada notif, dan memberi title pada notif 
            function notifVisible() {
                notif.style.visibility = 'visible';
                notif.innerHTML = jmlDataSaatIni;
                notif.title = "Ada " + jmlDataSaatIni + " Antrian.";
            }

            // memberi nilai awal pada 'jmlDataSaatIni' dan 'notif' muncul atau tidak
            $.ajax({
                type: 'get',
                url: '/DKR/UpdateAntrianPasien',
                data: null,
                success: function (data) {
                    jmlDataSaatIni = data.length;
                    let notif = document.getElementById('notif');
                    if (jmlDataSaatIni > 0) {
                        notifVisible();
                    } else {
                        notif.style.visibility = 'none';
                    }
                }
            });

            // update jumlah data
            setInterval(function () {
                $.ajax({
                    type: 'get',
                    url: '/DKR/UpdateAntrianPasien',
                    data: null,
                    success: function (data) {
                        let notif = document.getElementById('notif');
                        if (data.length > jmlDataSaatIni) {
                            jmlDataSaatIni = data.length;
                            notifVisible();
                            document.getElementById('antrian-baru').play();
                        } else if (data.length < 1) {
                            if (notif.style.visibility == 'visible') {
                                notif.style.visibility = 'hidden';
                            }
                        }
                    }
                });
            }, 1000);
        </script>
    }
}