@model W3KlinikKami.Models.TB_AKUN

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h2><u>Edit Password</u></h2>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @* username *@
    <div class="txt-login-container">
        @Html.TextBoxFor(model => model.PASSWORD_AKUN, null, new { @placeholder = "Username", @autocomplete = "off" })
        @Html.ValidationMessageFor(model => model.PASSWORD_AKUN, "", new { @class = "text-danger" })
    </div>
}